@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-baloo);
  --text-dark: #383838;
  --gradient-cta: linear-gradient(90deg, #284998 0%, #7C51A1 100%);
  --color-purple-lex: #7C51A1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
